{% extends 'bus/board.html' %}

{% block title %} Orders {% endblock %}
{% load humanize %}
{% block content %}
<div class="lg:hidden">
  <h1 class="text-start text-lg font-semibold py-2 ml-2">Order summary</h1>
  <div class="border max-w-lg rounded-lg shadow-sm bg-white">
    <div class="flex justify-between">
      <h1 class="text-sm font-semibold pt-2 ml-2">Date: </h1>
      <h1 class="text-sm font-semibold pt-2 mr-1">{{orders.created}}</h1>
    </div>
    <div class="flex justify-between">
      <h1 class="text-sm font-semibold ml-2">Phone Number: </h1>
      <h1 class="text-sm font-semibold mr-1">{{orders.phone_number}}</h1>
    </div>
    <div class="flex justify-between mb-2">
      <h1 class="text-sm font-semibold ml-2">{{orders.address}}</h1>
    </div>
  </div>
  <h1 class="text-start text-lg font-semibold py-2 ml-2">Products</h1>
  {% for item in product %}     
  <div class="border p-3 bg-white">
    <div class="flex flex-col lg:flex-row justify-between">
        <div class="flex inline-block">
            <img class="rounded-lg" src="{{item.product.image.url}}" alt="{{item.product.name}}" style="max-width: 100px;max-height: 100px">
            <div class="block">
                <h1 class="text-md lg:text-lg px-3">{{item.product.name}} | <span class="text-sm"><a href="{% url 'jumia:category' item.product.category.id%}">{{item.product.category}}</a></span></h1>
                <h1 class="text-sm lg:text-lg px-3">Quantity: {{item.quantity}}</h1>
                <div class="block">
                    <h1 class="text-lg font-semibold px-3">UGX {{item.get_cost|intcomma}}</h1>
                </div>
            </div>
        </div>
    </div>
  </div>    
  {% endfor %}
  <h1 class="text-start text-lg font-semibold py-2 ml-2">Totals</h1>
  <div class="border shadow-sm p-2 rounded-lg lg:rounded-xl bg-white lg:hidden">
    <h1 class="flex justify-between font-semibold">Items Total: <span>UGX {{orders.get_total_cost|intcomma}}</span></h1>
    <h1 class="flex justify-between font-semibold pt-2 pb-1">Delivery: <span>UGX {{orders.delivery|intcomma}}</span></h1>
    <hr>
    <h1 class="flex justify-between font-bold pt-3">Total: <span class="text-xl">UGX {{orders.cost|intcomma}}</span></h1>
</div>
</div>

<div class="hidden lg:grid lg:grid-cols-12 gap-5 mt-4">
  <div class="lg:col-span-9 border shadow-md">
      <h1 class="text-start text-xl font-bold p-2">Ordered Products </h1>
      <hr class="w-full">
      <div class="grid grid-cols-3 gap-5 p-3">
          {% for item in product %}     
          <div class="flex flex-col lg:flex-row justify-between">
            <div class="flex inline-block">
                <img class="rounded-lg" src="{{item.product.image.url}}" alt="{{item.product.name}}" style="max-width: 100px;max-height: 100px">
                <div class="block pl-2">
                    <h1 class="text-md lg:text-lg">{{item.product.name}} | <span class="text-lg"><a href="{% url 'jumia:category' item.product.category.id%}">{{item.product.category}}</a></span></h1>
                    <h1 class="text-sm lg:text-lg">Quantity: {{item.quantity}}</h1>
                    <h1 class="text-lg font-semibold">UGX {{item.get_cost|intcomma}}</h1>
                </div>
            </div>
          </div>     
          {% endfor %}
      </div>
  </div>
  <div class="hidden lg:block lg:col-span-3 lg:mt-3 border shadow-md p-2 h-48">
      <h1 class="text-start font-bold text-xl">ORDER TOTALS</h1>
      <hr>
      <div class="flex justify-between font-semibold">
        <p class="text-lg">Items Total: </p>
        <h1 class="text-lg">UGX {{ orders.get_total_cost|intcomma }}</h1>
      </div>
      <div class="flex justify-between font-semibold">
        <p class="text-lg">Delivery: </p>
        <h1 class="text-lg">UGX {{ orders.delivery|intcomma }}</h1>
      </div>
      <hr class="p-1">
      <div class="flex justify-between mb-2">
          <p class="text-lg font-semibold">Total: </p>
          <h1 class="text-xl font-bold">UGX {{ orders.cost|intcomma }}</h1>
      </div>
  </div>    
</div>

<div class="hidden lg:block">
  <div class="border max-w-lg rounded-lg shadow-sm mt-3 mr-2">
    <h1 class="text-start text-xl font-semibold pt-2 ml-2">Order summary</h1>
    <hr>
    <div class="flex justify-between">
      <h1 class="text-md font-semibold pt-2 ml-2">Date: </h1>
      <h1 class="text-sm font-semibold pt-3 mr-1">{{orders.created}}</h1>
    </div>
    <div class="flex justify-between">
      <h1 class="text-md font-semibold ml-2">Phone Number: </h1>
      <h1 class="text-sm font-semibold mr-1">{{orders.phone_number}}</h1>
    </div>
    <div class="flex justify-between mb-2">
      <h1 class="text-md font-semibold ml-2">Address: </h1>
      <h1 class="text-sm font-semibold">{{orders.address}}</h1>
    </div>
  </div>
</div>
{% endblock %}