{% extends 'bus/board.html' %}

{% block title %} Orders {% endblock %}
{% load humanize %}
{% block content %}
<div class="container-fluid pt-5">
  <h1 class="text-center py-4 text-3xl font-bold">Orders.</h1>
  <hr>
  <br>
  <br>
  <div class="row px-xl-4 pb-2">
      <table class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
            <tr>      
                <th>Order Date</th>
                <th>Customer Name</th>             
                <th>Customer's Email</th>  
                <th>Customer's Address</th>  
                <th>Product Name</th> 
                <th>Quantity</th>
                <th>Order Price</th>
                <th>Status</th> 
            </tr>
        </thead>
        <tbody class="align-middle">      
          {% for item in ordered_product %}
              {% if request.user == item.product.product_by %}
                <tr>
                  <td>{{item.order.created}}</td>
                  <td>{{item.order.first_name}} {{item.order.last_name}}</td>
                  <td>{{item.order.email}}</td>
                  <td>{{item.order.address}}</td>
                  <td>{{item.product.name}}</td>
                  <td>{{item.quantity}}</td>
                  <td>shs. {{item.get_cost|intcomma}}</td>
                  <td><a href="">
                    <button class="rounded-full btn btn-info px-4 border border-red-900 text-bold">Pending</button>
                  </a></td>
                </tr>
              {% endif %}
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock %}