{% extends 'bus/business_base.html' %}
{% block title%} products {% endblock %}

{% block content %}
<!-- Registration Form Start -->
<div class="container-fluid bg-secondary text-dark pt-3 mb-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-6 mx-auto mb-4">
            <div class="row">
                <div class="col-lg-6">
                    <img src="img/hivemind.png" alt="Image" style="width: 100%; height: 660px; position: absolute; right: 4; top: 0;">
                </div>
                <div class="col-lg-6">
                    <div class="ml-4" >
                        <h2 class="font-weight-bold mb-4">Register</h2>
                        <form>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your personal name" required>
                            </div>
                            <div class="form-group">
                                <label for="name"> Business Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your Business name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                                
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" required>
                                    <div>
                                    <span id="passwordHelpInline" class="form-text">
                                        Must be 8-20 characters
                                    </span>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" required>
                                <div class="invalid-feedback">
                                    Passwords do not match
                                </div>
                                <div class="form group">
                                    <label for="inputAddress" class="form-label">Business location</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="plot121,makerere,kampala">
                                    </div><br>
                            <div class="form-group">
                                <label for="business-pictures">Business logo</label>
                                <input type="file" class="form-control-file" id="business-pictures" accept="image/*" multiple>
                            </div>
                            <button type="button" class="btn btn-primary" onclick="window.location.href='business:product';">Next</button>              
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration Form End -->
{% endblock %}

