{% extends 'jumia/base.html' %}
{% block title%} Cart {% endblock %}

{% load humanize %}
{% block content %}


{% if cart %}
<div class="lg:grid lg:grid-cols-12 gap-5 mt-4">
    <div class="lg:col-span-9 border shadow-md">
        <h1 class="text-start text-2xl font-bold p-3">Cart 
            {% with total_items=cart|length %}
            {% if total_items > 0 %}
                ({{ total_items }})     
            {% else %}      
                (0)
            {% endif %}  
            {% endwith %} 
        </h1>
        <hr class="w-full">
            {% for item in cart %}        
                {% with product=item.product %}
                <div class="p-3 flex flex-col lg:flex-row justify-between">
                    <div class="flex inline-block">
                        <img class="mt-4 rounded-lg" src="{{product.image.url}}" alt="{{product.name}}" style="max-width: 100px;max-height: 100px">
                        <div class="block">
                            <h1 class="text-md lg:text-lg mt-3 px-3">{{product.name}}</h1>
                            <h1 class="text-sm lg:text-lg px-3">{{product.category}}</h1>
                            <h1 class="text-sm lg:text-lg px-3">Quantity: {{item.quantity}}</h1>
                            <div class="block lg:hidden">
                                <h1 class="text-lg font-bold px-3">UGX {{product.price|intcomma}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="hidden lg:flex lg:justify-end">
                        <h1 class="text-lg font-semibold lg:text-xl mt-3">UGX {{product.price|intcomma}}</h1>
                    </div>
                </div>                
                <div class="px-3 flex justify-content-between inline-block mb-2">
                    <form action="{% url 'cart:cart_remove' product.id %}" method="post">               
                        <button type="submit" class="px-3 rounded btn btn-secondary">Remove</button>
                        {% csrf_token %}              
                    </form>
                    <div class="block lg:flex lg:items-center flex items-end lg:space-x-8 inline-block">
                      <a href="{% url 'jumia:detail' product.id %}"><button class="px-3 rounded btn btn-danger">Update Quantity</button></a>
                    </div>
                </div>
                {% endwith %}      
            {% endfor %}
    </div>
    <div class="lg:hidden">
        <a href="{% url 'orders:order_create' %}" class="btn btn-block rounded-lg text-xl btn-success my-3 py-2 lg:py-3 w-full">Checkout (UGX {{ cart.get_total_price|intcomma }})</a>
    </div>
    <div class="hidden lg:block lg:col-span-3 lg:mt-4 border shadow-md p-3 h-48">
        <h1 class="text-start font-bold text-xl">CART SUMMARY</h1>
        <hr>
        <div class="flex justify-between p-3 font-semibold">
            <p class="text-xl">Total: </p>
            <h1 class="text-2xl">UGX {{ cart.get_total_price|intcomma }}</h1>
        </div>
        <hr>
        <a href="{% url 'orders:order_create' %}" class="btn btn-block rounded-lg text-xl btn-success my-3 py-2 lg:py-3 w-full">Checkout</a>
    </div>    
</div>
{% else %}
    <div class="col-12 text-center font-mono mt-5">
        <h3 class="py-2 text-lg lg:text-2xl text-gray-700">You Cart is empty!!</h3>
        <h3 class="py-2 text-xl lg:text-2xl text-gray-700">
            <strong><a href="{% url 'jumia:items' %}" class="text-green-500 hover:text-green-700">Browse our categories and discover the best prosucts for you.</a></strong>
        </h3>
    </div>
{% endif %}

<script>
    function decreaseQuantity() {
        var quantityDisplay = document.getElementById('quantityDisplay');
        var quantityInput = document.getElementById('quantity');
        var currentValue = parseInt(quantityDisplay.innerText);
        if (currentValue > 1) {
            quantityDisplay.innerText = currentValue - 1;
            quantityInput.value = currentValue - 1;  // Update the hidden input field
        }
    }

    function increaseQuantity() {
        var quantityDisplay = document.getElementById('quantityDisplay');
        var quantityInput = document.getElementById('quantity');
        var currentValue = parseInt(quantityDisplay.innerText);
        quantityDisplay.innerText = currentValue + 1;
        quantityInput.value = currentValue + 1;  // Update the hidden input field
    }
</script>
{% endblock %}

