{% extends 'jumia/base.html' %}
{% block title%} Cart {% endblock %}

{% load humanize %}
{% block content %}

<h2 class="flex justify-start mt-5 text-2xl lg:text-4xl font-bold"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 lg:w-10 inline-block mb-1 pr-1">
    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
  </svg>
   Your Cart</h2>
<hr class="mt-2">
<!-- Cart Start -->
<div class="container-fluid pt-4">
    <div class="row px-xl-5">
        <div class="col-lg-8 mb-5">
            <div class="table-responsive">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-blue-200 text-black-">
                        <tr>      
                            <th>Image</th>
                            <th>Product</th>        
                            <th>Quantity</th>        
                            <th>Remove</th>        
                            <th>Unit price</th>        
                            <th>Price</th> 
                        </tr>
                    </thead>
                    <tbody class="align-middle"> 
                        {% for item in cart %}        
                            {% with product=item.product %}
                            <tr class="font-semibold text-lg font-sans">
                                <td><img src="{{product.image.url}}" alt="{{product.name}}" style="max-width: 100px;max-height: 100px"></td>
                                <td class="align-middle">{{product.name}}</td>
                                <td class="align-middle">{{item.quantity}}</td>
                                <td class="align-middle">
                                    <form action="{% url 'cart:cart_remove' product.id %}" method="post">                
                                        <input type="submit" value="Remove" class="px-3 rounded btn btn-secondary">                
                                        {% csrf_token %}              
                                    </form>
                                </td>
                                <td class="align-middle">shs. {{product.price|intcomma}}</td>
                                <td class="align-middle">shs. {{item.total_price|intcomma}}</td>
                            </tr>
                            {% endwith %}      
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <form class="mb-3" action="">
                <div class="input-group">
                    <input type="text" class="form-control p-2 lg:p-4" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="border px-1 lg:p-1 bg-green-500 text-white rounded-l-none lg:rounded-l-none rounded-xl lg:rounded-xl">Apply Coupon</button>
                    </div>
                </div>
            </form>
            <div class="card border-secondary mb-3">
                <div class="card-header bg-blue-200 border">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">shs. {{ cart.get_total_price|intcomma }}</h5>
                    </div>
                    <a href="{% url 'orders:order_create' %}">
                        <button class="btn btn-block rounded-xl btn-success my-3 py-2 lg:py-3">Proceed To Checkout</button>
                    </a>
                    <a href="{% url 'jumia:items' %}">
                        <button class="btn btn-block rounded-xl btn-danger my-3 py-2 lg:py-3">Continue Shopping</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
{% endblock %}
