{% extends 'jumia/base.html'%}
{% block title%} {{category.category_name}} {% endblock %}
{% block content %}
{% load humanize %}
<h1 class="text-justify-start pt-4 lg:py-4 text-xl lg:text-2xl lg:text-4xl font-bold">{{category.category_name}} Collections.</h1>
<hr>
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-3">
    {% if type %}
        {% for item in type %}
        <div class="mt-2 relative group">
            <div class="rounded-2xl overflow-hidden shadow-md relative transform transition-transform duration-300 hover:scale-105 hover:shadow-xl">
              <a href="{% url 'jumia:detail' item.pk %}" class="transition ease-in-out duration-700">
                <img src="{{item.image.url}}" alt="" class="w-full h-48 object-cover mt-2 rounded-2xl transition-transform duration-300 group-hover:scale-110">
              </a>
            </div>
            <div class="mt-2">
              <h5 class="text-md font-bold text-gray-800">{{item.name}}</h5>
            </div>
          </div>
        {% endfor %}
    {% else %}
        <div class="col-span-full">
            <h1 class="text-center py-4 text-lg lg:text-3xl font-semibold">No available product for "{{ category.category_name }}" yet.</h1>
            <p class="text-center py-4 text-lg lg:text-2xl font-bold">Thanks for choosing us.</p>
        </div>
    {% endif %}
</div>
{% endblock %} 
