{% extends 'jumia/base.html' %}
{% block title%} Checkout {% endblock %}
{% load humanize %}
{% block content %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3 text-5xl">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="w-full my-6 mx-auto rounded-xl">
                <h1 class="mb-6 text-3xl text-center">Order Details</h1>
                <hr class="mb-2 ">
            
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="inline-block mb-2">First Name</label><br>
                        {{ form.first_name }}
                    </div>
            
                    <div class="mb-3">
                        <label class="inline-block mb-2">Last Name</label><br>
                        {{ form.last_name }}
                    </div>
            
            
                    <div class="mb-3">
                        <label class="inline-block mb-2">Email</label><br>
                        {{ form.email }}
                    </div>
            
                    <div class="mb-3">
                        <label class="inline-block mb-2">Address</label><br>
                        {{ form.address }}
                    </div>
            
                    <div class="mb-3">
                        <label class="inline-block mb-2">Mobile</label><br>
                        {{ form.phone_number }}
                    </div>
            
                    <div class="mb-3">
                        <label class="inline-block mb-2">City</label><br>
                        {{ form.city }}
                    </div>
                    <br>
                    <hr>
                    <button type="submit" class="btn btn-block btn-primary my-3 py-3 font-semibold">Place Order</button>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Products</h5>
                    {% for item in cart %}
                    <div class="d-flex justify-content-between">
                        <p>{{item.product.name}}</p>
                        <p>shs. {{item.total_price|intcomma}}</p>
                    </div>
                    {% endfor %}
                    <hr class="mt-2">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">delivery</h6>
                        <h6 class="font-weight-medium">shs. 10,000</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">shs. {{cart.get_total_price|intcomma}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->
{% endblock %}