{% extends 'jumia/base.html' %}
{% block title %}Home page{% endblock %}
{% load humanize %}
{% block content %}

<div class="mt-5 flex justify-center">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-20">
    <path d="M19.006 3.705a.75.75 0 1 0-.512-1.41L6 6.838V3a.75.75 0 0 0-.75-.75h-1.5A.75.75 0 0 0 3 3v4.93l-1.006.365a.75.75 0 0 0 .512 1.41l16.5-6Z" />
    <path fill-rule="evenodd" d="M3.019 11.114 18 5.667v3.421l4.006 1.457a.75.75 0 1 1-.512 1.41l-.494-.18v8.475h.75a.75.75 0 0 1 0 1.5H2.25a.75.75 0 0 1 0-1.5H3v-9.129l.019-.007ZM18 20.25v-9.566l1.5.546v9.02H18Zm-9-6a.75.75 0 0 0-.75.75v4.5c0 .414.336.75.75.75h3a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75H9Z" clip-rule="evenodd" />
  </svg>
</div>

<div class="flex justify-center mt-2">
  <h1 class="text-4xl font-bold text-gray-800">Top Categories in Kampala</h1>
</div>

<div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-5 justify-center mt-3">
  {% for category in cat %}
  <a href="{% url 'jumia:category' category.id %}">
    <h1 class="text-center bg-secondary hover:bg-green-600 hover:text-black rounded-2xl px-4 py-2 m-2 text-xl font-semibold transition-colors duration-300">{{category.category_name}}</h1>
  </a>
  {% endfor %}
</div>

<h2 class="md:text-2xl lg:text-3xl flex justify-start py-4 text-xl font-bold mt-5 text-gray-800">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 inline-block mb-1 mr-2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" />
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z" />
  </svg>
  Products You Might Like
</h2>
<hr class="border-gray-300">

<div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-5">
  {% for item in type %}
  <div class="mt-2 relative group">
    <div class="rounded-2xl overflow-hidden shadow-md relative transform transition-transform duration-300 hover:scale-105 hover:shadow-xl">
      <a href="{% url 'jumia:detail' item.pk %}" class="transition ease-in-out duration-700">
        <img src="{{item.image.url}}" alt="" class="w-full h-48 object-cover mt-2 rounded-2xl transition-transform duration-300 group-hover:scale-110">
      </a>
      <!-- <div class="bg-yellow-300 text-secondary-200 text-sm uppercase font-bold rounded-t-none rounded-b-2xl p-2 absolute top-0 right-0 mb-2 mr-2">
        <span>-40%</span>
      </div> -->
      <div class="text-white font-bold bg-gray-900 bg-opacity-50 px-3 rounded-lg absolute bottom-0 left-0 mb-2 ml-2">
        <span>{{item.category}}</span>
      </div>
    </div>
    <div class="mt-2">
      <h5 class="text-xl font-bold text-gray-800">{{item.name}}</h5>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
