{% extends 'jumia\base.html' %}
{% block title%} products {% endblock %}

{% block content %}
<h2 class="text-center py-4 font-3xl font-bold"> Newest items</h2>
<div class="grid grid-cols-9 gap-2 p-4">
    {% for item in type %}
    <div>
        <a href="">
            <div>
                <img src="{{item.image.url}}" alt="" class="w-full rounded-t-xl">
            </div>
            <div class="text-sm bg-white font-mono px-2 rounded-b-xl">
                <span><h2 class="text-xl inline-block">{{item.name}}</h2></span>
                <span><p class="text-md">shs.{{item.price}}</p></span>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}