{% extends 'jumia/base.html' %}
{% block title%} products {% endblock %}

{% block content %}
<div class="shadow-md border rounded-lg mt-5 p-3 bg-white max-w-lg mx-auto flex flex-col text-start">
    <h2 class="lg:text-xl text-md font-semibold text-green-600 mb-1">
        <i class="fas fa-check-circle mr-2"></i>Order has been created successfully.
    </h2>
    <hr class="my-4 w-full">
    <p class="text-gray-700 lg:text-md text-sm">
        You'll be notified via a call when the product reaches you. Thank you!
    </p>
    <hr class="my-2 w-full">
    <p class="text-gray-700">
        Orders created can be viewed on the 
        <a href="{% url 'orders:order' %}" class="text-blue-600 hover:text-blue-800">orders page</a>.
    </p>
</div>
{% endblock %}