{% extends 'jumia/base.html' %}
{% block title%} products {% endblock %}

{% block content %}
<h2 class="text-center pt-5 text-2xl lg:text-5xl font-bold">Your Order</h2>
<hr>
<p class="text-center py-4 text-lg lg:text-2xl font-semibold">Your order has been placed. <strong class="text-success block"><a href="{% url 'orders:order' %}">View Ordes here</a></strong>.</p> 
<h1 class="text-center py-4 text-xl lg:text-3xl font-semibold">Thank you for choosing us <i class="fas fa-heart text-danger"></i></h1>
{% endblock %}