{% extends 'jumia/base.html' %}

{% block title %} Orders {% endblock %}
{% load humanize %}
{% block content %}
<div class="container-fluid pt-5">
    <h1 class="text-center py-4 text-3xl font-bold">Ordered Status.</h1>
    <hr>
    <br>
    <br>
    <div class="row px-xl-4 pb-2">
      
      <table class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
            <tr>      
                <th>Product Image</th>      
                <th>Product Name</th>        
                <th>Quantity</th>      
                <th>Price</th>  
                <th>Address</th>    
                <th>Email Address</th>          
                <th>Status</th> 
            </tr>
        </thead>
        <tbody class="align-middle"> 
          
          {% for item in product %}    
          <tr class="font-semibold text-lg font-sans">
              <td><img src="{{item.product.image.url}}" alt="" style="max-width: 100px;max-height: 100px"></td>  
              <td>{{item.product.name}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.get_cost|intcomma}}</td>
              <td>{{item.order.address}}</td>
              <td>{{item.order.email}}</td>
              <td><a href="">
                <button class="rounded-full btn btn-primary px-4 border border-red-900 text-bold">Pending</button>
              </a></td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
    <br>
    <br>
    <div class="card border-secondary mb-5 mt-8">
      <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0">Order Summary</h4>
      </div>
      <div class="card-footer border-secondary bg-transparent">
          <div class="d-flex justify-content-between space-x-8 mt-2">
              <h5 class="font-weight-bold">Total</h5>
              <h5 class="font-weight-bold">shs. {{orders.get_total_cost|intcomma}}</h5>
          </div>
      </div>
  </div>
  </div>
</div>
{% endblock %}