{% extends 'jumia/base.html' %}

{% block title %}Conversation{% endblock %}

{% block content %}
<h1 class="text-start mt-5 text-4xl font-bold">Your Chart</h1>
<hr class="mt-2 mb-4">

<div class="space-y-6">
    {% for message in conversation.messages.all %}
        <div class="p-6 flex {% if message.created_by == request.user %}bg-blue-100{% else %}bg-gray-100{% endif %} rounded-xl">
            <div>
                <p class="mb-4"><strong>{{ message.created_by.username }}</strong> @ {{ message.created_at }}</p>
                <p>{{ message.content }}</p>
            </div>
        </div>
    {% endfor %}
</div>

<form method="post" action="." class="mt-6">
    {% csrf_token %}

    {{ form.as_p }}

    <button class="btn btn-block btn-success my-3 py-3 font-semibold rounded-full">Send</button>
</form>
{% endblock %}