{% extends 'jumia/base.html' %}


{% block title %}Inbox{% endblock %}

{% block content %}
<h1 class="text-start mt-3 text-2xl lg:mt-5 lg:text-4xl font-bold"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 inline-block mb-1">
    <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
  </svg>
  Inbox</h1>
  <hr class="mt-2 mb-5">

<div class="space-y-6">
    {% if conversations %}
    {% for conversation in conversations %}
        
            <div class="p-6 flex bg-gray-100 rounded-xl mb-4">
                <a href="{% url 'chart:detail' conversation.id %}">
                <div class="pr-6">
                    <img src="{{ conversation.item.image.url }}" class="w-20 rounded-xl">
                </div>
                </a>
                <div>
                    {% for member in conversation.members.all %}
                        {% if member != request.user %}
                            <p class="mb-4"><strong>{{ member.username }}</strong> | {{ conversation.modified_at }}</p>
                            <p>{{ conversation.item.name }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

    {% endfor %}
    {% else %}
    <div class="col-12 text-center">
        <h3 class="py-4 text-2xl">You haven't sent any messages yet. <strong><a href="{% url 'jumia:items' %}">Shop Here</a></strong></h3>
        <h3 class="py-2 text-xl">Thank you for choosing Hivemind <i class="fas fa-heart text-primary"></i></h3>
    </div>
    {% endif %}
</div>
{% endblock %}