{% extends 'user/base.html' %}

{% block title %}Login {% endblock %}
{% load static %}
{% block content %}
<br>
<br>
<br>

<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<style>
    @media only screen and (max-width: 768px) {
    .login-image {
        display: none;
    }
}
.toggle-password {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
}

.form-group {
    position: relative;
}

</style>

<section class="sign-in">
    <div class="container">
        <div class="py-5 lg:flex">
            <div class="login-image hidden lg:block">
                <figure class=""><img src="{% static 'reg/images/signin-image.jpg' %}" alt="sign up image"></figure>
                <a href="{% url 'user:signup' %}" class="signup-image-link">Create an account</a>
            </div>            

            <div class="signin-form">
                <!-- <h2 class="text-start mb-4 text-xl">Login</h2> -->
                <a href="{% url 'jumia:items' %}" class="text-center">
                    <h1 class="text-2xl lg:text-3xl font-bold">Micheal <span class="text-green-500">& Yolanda</span></h1>
                    <h5 class="font-semibold text-sm">Fast Delivery Services</h5>
                </a>
                <form method="POST" class="pt-10" id="login-form" action="{% url 'user:login' %}?next={{ request.GET.next }}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        {{form.username}}
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        {{form.password}}
                        <span class="toggle-password">
                            <i class="zmdi zmdi-eye" id="toggle-password"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>
                    {% if form.errors or form.non_field_errors %}
                    <div class="mb-3 p-3 bg-red-100 rounded-xl">
                        {% for field in form %}
                        {{ field.errors }}
                        {% endfor %}

                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.getElementById('toggle-password').addEventListener('click', function () {
    const passwordField = document.querySelector('input[name="password"]');
    const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordField.setAttribute('type', type);

    // Toggle the icon
    this.classList.toggle('zmdi-eye');
    this.classList.toggle('zmdi-eye-off');
});

</script>

{% endblock %}