{% extends 'bus/board.html' %}

{% block title %}Sell{% endblock %}
{% load widget_tweaks %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-200  rounded-xl">
    <h1 class="mb-6 text-4xl text-center">Sell a product</h1>

    <form method="post" action=".">
        {% csrf_token %}
        <div>
            <label for="categories" class="form-label">Product Cateory</label>
            {% render_field form.categories class='form-control' %}
        </div>
        <br>
        <div>
            <label for="name" class="form-label">Product Name</label>
            {% render_field form.name class='form-control' %}
        </div>

        <br>
        <a href="{% url 'user:sell_details' %}">
            <button class="py-1 px-4 text-lg bg-green-500 hover:bg-green-700 rounded-xl text-white">Next</button>
        </a>
    </form>
</div>
{% endblock %}